<a href="https://colab.research.google.com/github/Rohit1208/PYTHON/blob/main/Handle_string_value_tonumeric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### breast_cancer.data Column Details


 Attribute Information: (class attribute has been moved to last column)<br>
<pre>
     Attribute                     Domain
   -- -----------------------------------------
1. Sample code number            id number
2. Clump Thickness               1 - 10
3. Uniformity of Cell Size       1 - 10
4. Uniformity of Cell Shape      1 - 10
5. Marginal Adhesion             1 - 10
6. Single Epithelial Cell Size   1 - 10
7. Bare Nuclei                   1 - 10
8. Bland Chromatin               1 - 10
9. Normal Nucleoli               1 - 10
10. Mitoses                      1 - 10
11. Class:                       (2 for benign, 4 for malignant)
</pre>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/breast_cancer.data')

In [3]:
df

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]

In [4]:
df.rename(columns={'1000025':'Sample code number','5':'Clump Thickness','1':'Uniformity of Cell Size','1.1':'Uniformity of Cell Shape','1.2':'Marginal Adhesion','2':'Single Epithelial Cell Size','1.3':'Bare Nuclei',
                   '3':'Bland Chromatin','1.4':'Normal Nucleoli','1.5':'Mitoses','2.1':'Class'},inplace=True)

In [5]:
df

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1002945                5  ...        1      2
1               1015425                3  ...        1      2
2               1016277                6  ...        1      2
3               1017023                4  ...        1      2
4               1017122                8  ...        1      4
..                  ...              ...  ...      ...    ...
693              776715                3  ...        1      2
694              841769                2  ...        1      2
695              888820                5  ...        2      4
696              897471                4  ...        1      4
697              897471                4  ...        1      4

[698 rows x 11 columns]

handle string value

In [7]:
df.iloc[22,:]

Sample code number             1057013
Clump Thickness                      8
Uniformity of Cell Size              4
Uniformity of Cell Shape             5
Marginal Adhesion                    1
Single Epithelial Cell Size          2
Bare Nuclei                          ?
Bland Chromatin                      7
Normal Nucleoli                      3
Mitoses                              1
Class                                4
Name: 22, dtype: object

In [8]:
df['Bare Nuclei'] = pd.to_numeric(df['Bare Nuclei'],errors='coerce')

In [9]:
df.isnull().sum()

Sample code number              0
Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [10]:
df.fillna(df['Bare Nuclei'].mean(),axis=1,inplace=True)

In [11]:
df.isnull().sum()

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [12]:
df.iloc[22,:]

Sample code number             1.057013e+06
Clump Thickness                8.000000e+00
Uniformity of Cell Size        4.000000e+00
Uniformity of Cell Shape       5.000000e+00
Marginal Adhesion              1.000000e+00
Single Epithelial Cell Size    2.000000e+00
Bare Nuclei                    3.548387e+00
Bland Chromatin                7.000000e+00
Normal Nucleoli                3.000000e+00
Mitoses                        1.000000e+00
Class                          4.000000e+00
Name: 22, dtype: float64