In [28]:
import mysql.connector as sql

connection=sql.connect(host="localhost",user="root",password="Rohit@1997",database="college_db")
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CC7E4FB9D0>

In [2]:
cursor=connection.cursor()

In [3]:
cursor.execute("SHOW DATABASES")

In [4]:
for i in cursor:
    print(i)

('college_db',)
('company_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('rohit_db',)
('sakila',)
('sys',)
('thur_db',)
('world',)

In [5]:
cursor.execute("USE college_db")

In [6]:
import pandas as pd
import numpy as np

In [29]:
print("############welcome to HOGWARDS UNIVERSITY########")
a=int(input("""press 1.for new registration
                already registered==>press 
                2.student login 
                3.parent login 
                4.teacher login
                5.admin fees check 
                6.admin log in
                """))



class college:
    
    def student_new_reg(self):
        x=int(input("Enter the stud_id"))
        y=input("Enter student name")
        z=input("Enter gender of student 'male'or'female'")
        a=input("D.o.B(yyyy|MM|DD)")
        b=input("Choose course 'data science','Django','machine learning'")
        c=int(input("press 0"))
        d=int(input("press 0"))
        e=int(input("press 0"))
        f=input("Enter parent mobile number")
        g=input("Parent name")
        i=input("Pay fees")
        h=input("""Choose trainer 'data science'==>Miss.K.Aliya bhatta,
                'Django'==>Miss.G.Katrina kaif,
                'machine learning'==>Miss.R.Sonakshi sinha""")
        query=(x,y,z,a,b,c,d,e,f,g,i,h)
        new_reg="insert into Student values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        cursor=connection.cursor()
        return cursor.execute(new_reg,query)
    
    
    def student_view(self):
        c=str(input("enter the course name"))
        i=int(input("enter student id"))
        stud_view=(c,i)
        query="SELECT teacher.class_teacher_name,teacher.Assignment,teacher.test_date,First_test_marks,Second_test_marks,Third_test_marks FROM teacher,student WHERE teacher.course=%s AND stud_id=%s"
        college_db=pd.read_sql_query(query%(c,i,),connection)
        return pd.read_sql_query(query%(c,i,),connection)
    
    def parent_view(self):
        y=input("Enter your son\daughter D.O.B 'YYYY-MM-DD'")
        z=str(input("Enter the course name==>'data science','Django','machine learning': "))
        x=int(input("Enter your son\daughter I.D number  "))

        parent1_view="select stud_id , Name ,student.Course ,First_test_marks ,Second_test_marks ,Third_test_marks,fees_details,teacher.class_teacher_name,teacher.Qualification,teacher.Email_ID from student,teacher where  student.stud_id=%s and Birth_date=%s and teacher.course=%s"
        parent_view=pd.read_sql_query(parent1_view%(x,y,z,),connection)
        return pd.read_sql_query(parent1_view%(x,y,z,),connection)
    
    
    def teacher_view(self):
        q=str(input("Enter the course name==>'data science','Django','machine learning': "))
        teacher_view="select * from student where student.course=%s"
        teacher_view_allstud=pd.read_sql_query(teacher_view%(q,),connection)
        return pd.read_sql_query(teacher_view%(q,),connection)
    def admin_studfees_view(self):
        d=input("To check fees paid details of student enter 'not paid' or' paid fully'")
        admin_view="select * from student where fees_details =%s"
        fees_details=pd.read_sql_query(admin_view%(d,),connection)
        
        return pd.read_sql_query(admin_view%(d,),connection)
   
        
        
class management:
    
    def __init__(self):
            self.__admin_management_view()
            
            
            
        
    def __admin_management_view(self):
       
        teacher_view="select * from student"
        teacher_view_allstud=pd.read_sql_query(teacher_view,connection)
        return pd.read_sql_query(teacher_view,connection)
           
        
    
c=college()

c1=management()


if a==6:
    b=int(input("ENTER THE PASSWORD:"))
    if b==12345:
        print(c1._management__admin_management_view())
    else:
        print("password is wrong")
    
elif a==2:
    print(c.student_view())    
elif a==3:
    print(c.parent_view())
elif a==4:
    print(c.teacher_view())
elif a==5:
    print(c.admin_studfees_view())
elif a==1:
    print(c.student_new_reg())
    
    
   
        
            
    
else:
    print("ENTER THE CORRECT OPTION")

############welcome to HOGWARDS UNIVERSITY########
press 1.for new registration
                already registered==>press
                2.student login
                3.parent login
                4.teacher login
                5.admin fees check
                6.admin log in
                23
ENTER THE CORRECT OPTION

In [ ]:
2222 1990-06-11 Django